g-dropdown {
	background: white;
	border-radius: $g-border-radius;
	border: 1px solid $g-color-default-border;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	display: block;
	padding: $g-size-md / 2;

	&.g-dropdown-has-origin {
		position: fixed;
	}

	/***
	 * Animations
	 */
	&.#{$g-animate-classname} {
		&.ng-hide-add, &.ng-hide-remove {
			transition: 0s all;
		}

		&.ng-hide-add-active, &.ng-hide-remove-active, &.ng-enter, &.ng-leave {
			transition: .2s all $g-easing-outBack;
		}

		&.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter, &.ng-leave.ng-leave-active { 
			opacity: 0; 
			transform: translateY(-10%);
		}
		
		&.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active, &.ng-enter.ng-enter-active, &.ng-leave { 
			opacity: 1 ;
			transform: translateY(0);
		}
	}
}