.g-badge {
	text-transform: uppercase;
	whitespace: nowrap;
	background-color: $g-color-danger-bg;
	color: $g-color-danger-text;
	display: inline-block;
	height: $g-size-xs;
	line-height: $g-size-xs;
	padding: 0 2rem;
	min-width: $g-size-xs;
	border-radius: 999px;
	text-align: center;
	font-weight: 600;

	&.inverse {
		background-color: $g-color-inverse-bg;
		color: $g-color-inverse-text;
	}
}

.g-btn .g-badge {
	position: absolute;
	top:0;
	right:0;
	transform: translate(50%, -50%)
}

.g-pill .g-badge, .g-label .g-badge {
	height: 5rem;
	line-height: 5rem;
	min-width: 5rem;
	padding: 0 2rem;
	margin:-1rem -2rem -1rem 1rem;

}