body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    @include text-body;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}

.color-default {
    @include color-default;
}

.color-secondary {
    @include color-secondary;   
}

.color-tertiary {
    @include color-tertiary;
}

.color-inverse {
    @include color-inverse-default;
}

.color-inverse-secondary {
    @include color-inverse-secondary;   
}

.color-inverse-tertiary {
    @include color-inverse-tertiary;
}

.color-inherit {
    color: inherit !important;
}


.text-display-4 {
    @include text-display-4;
    @include g-text-styles();
}

.text-display-3 {
    @include text-display-3;
    @include g-text-styles();
}

.text-display-2 {
    @include text-display-2;
    @include g-text-styles();
}

.text-display-1 {
    @include text-display-1;
    @include g-text-styles();
}

.text-headline {
    @include text-headline;
    @include g-text-styles();
}

.text-title {
    @include text-title;
    @include g-text-styles();
}

.text-lead {
    @include text-lead;
    @include g-text-styles();
}

.text-subhead {
    @include text-subhead;
    @include g-text-styles();
}

.text-body {
    @include text-body;
    @include g-text-styles();
}

.text-caption {
    @include text-caption;
    @include g-text-styles();
}

.text-menu {
    @include text-menu;
    @include g-text-styles();
}

.text-btn {
    @include text-btn;
    @include g-text-styles();
}

.text-label {
    @include text-label;
    @include g-text-styles();
}

.text-link {
    color: $g-color-link;

    &:hover {
        text-decoration: underline;
    }
}

.color-link {
    color: $g-color-link;
}

.color-primary {
    color: $g-color-primary-bg;
}

.color-success {
    color: $g-color-success-bg;
}

.color-danger {
    color: $g-color-danger-bg;
}