[g-icon] {
	@include g-text-styles;
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	text-align: center;
	color: inherit;

	font-size: 6rem;
	width: 1em;
	height: 1em;

	&.xs {
		font-size: 4.5rem;
	}

	&.sm {
		font-size: 6rem;
	}

	&.md {
		font-size: 8rem;
	}
	
	&.lg {
		font-size: 12rem;
	}
}