g-tabs, .g-tabs {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	// horizontal tabs
	text-align: center;	
	box-shadow: 0 -1px 0 0 $g-color-default-border inset;
	overflow-y: hidden;
	overflow-x: auto;
	height: $g-size-md;
	line-height: $g-size-md;

	&.lg {
		height: $g-size-lg;
		line-height: $g-size-lg;

		g-tab, .g-tab {
			height: $g-size-lg;
			line-height: $g-size-lg;
			padding: 0 $g-size-lg / 2;
		}
	}

	// vertical tabs
	&.g-tabs-vertical {
		text-align: left;
		box-shadow: -1px 0 0 $g-color-default-border inset;
		overflow-y: auto;
		overflow-x: hidden;
		height: auto;
		line-height: auto;
		
		.g-tab {
			display: block;
		}

		g-tab-highlight, .g-tab-highlight {
			bottom: auto;
		}
	}


	&.alt g-tab, &.alt .g-tab {
		text-transform: none;
		letter-spacing: 0;
		font-weight: normal;
		font-size: 3.5rem;
		height: $g-size-sm;
		line-height: $g-size-sm;
	}

	&.block {
		display: flex;

		g-tab, .g-tab {
			flex: 1;
			padding:0;
		}
	}
}

g-tab, .g-tab {
	@include text-btn;
	display: inline-block;
	vertical-align: middle;
	height: $g-size-md;
	line-height: $g-size-md;
	padding: 0 $g-size-sm / 2;
	cursor: pointer;
	transition: .3s;
	color: inherit;
	text-decoration: none;
	opacity: .4;

	&.active {
		opacity: 1;
	}

	&.lg {
		height: $g-size-lg;
		line-height: $g-size-lg;
	}
}

g-tab-highlight, .g-tab-highlight {
	transition: .3s;
	position: absolute;
	bottom:0px;
	height: .75rem;
	width: .75rem;
	background-color: $g-color-highlight;
	left:0px;
	visibility: hidden;

	&.no-transition {
		transition: none;
	}
}