@mixin g-btn-mixin(
	$color, 
	$background-color, 
	$border-color, 
	$alt-color: $background-color, 
	$alt-border-color: $border-color,
	$alt-background: rgba(255,255,255, 0),
	$alt-hover-background: rgba($background-color, .1)
) {
	color: $color;
	background-color: $background-color;
	border-color: $border-color;

	// &:hover, 


	&.alt, &.flat {
		border-color: $alt-border-color;
		background-color: $alt-background;
		color: $alt-color;
		
		&.active {
			background-color: rgba(0,0,0,.07);
		}
	}

	&.flat {
		border-color: transparent;
	}

	&:active, &.touch {
		transform: translateY(1px);
	}

	&:focus {
		outline: none;
	}
	
	&.touch {
		opacity: .5;
	}

	&.active {
		background-color: darken($background-color, 5%);
	}
}

g-btn, .g-btn {
	@include text-btn;
	display: inline-block;
	padding: calc((#{$g-size-md} - 1em) / 2 - 1px) 3rem;
	border-radius: $g-border-radius;
	border: 1px solid $g-color-default-border;
	transition: opacity .3s, background .3s, color .3s, padding-left .3s, padding-right .3s, border-color .3s;
	min-width: $g-size-md;
	position: relative;
	vertical-align: middle;
	text-align: center;
	line-height: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-decoration: none;
	white-space: nowrap;

	cursor: pointer;
	user-select: none;

	&:after {
		content:'';
		display: block;
	}	

	/**
	 * States
	 */

	@include g-btn-mixin($g-color-default-text, $g-color-default-bg, $g-color-default-border, $g-color-default-text, darken($g-color-default-border, 15%) );

	&.inverse {
		@include g-btn-mixin($g-color-inverse-text, $g-color-inverse-bg, $g-color-inverse-border, $g-color-inverse-text, rgba($g-color-inverse-text, .5), transparent, rgba(255,255,255, .15) );		
	}

	&.primary {
		@include g-btn-mixin($g-color-primary-text, $g-color-primary-bg, $g-color-primary-border);
	}

	&.danger {
		@include g-btn-mixin($g-color-danger-text, $g-color-danger-bg, $g-color-danger-border);
	}

	&.success {
		@include g-btn-mixin($g-color-success-text, $g-color-success-bg, $g-color-success-border);
	}

	&.round {
		border-radius: 9999px;
	}

	&.overflow {
		white-space: nowrap;
		width: $g-size-md;
		padding-left: 0;
		padding-right: 0;
		

		&.lg {
			width: $g-size-lg;
		}

		& > [g-icon] {
			margin-right: 0 !important;
		}
		
		& > span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: calc(100% + 2rem);			
			text-align: left;
			line-height: 1.3;
		}
	}

	&.lowercase {
		text-transform: none;
		letter-spacing: 0;
		font-weight: normal;
	}

	/**
	 * Disabled
	 */
	&[disabled] {
		opacity: .5;
	}

	/**
	 * Sizes
	 */
	&.lg {
		padding: calc( ( #{$g-size-lg} - 1em ) / 2) 5rem;
		font-size: 4rem;
		min-width: $g-size-lg;

		&:after {
			margin-bottom: -2px;
		}
	}


	&.g-btn-close {
		span {
			opacity: .5;

			&:after, &:before {
				content: '';
				position: absolute;
				background-color: $g-color-close-btn;
				left: 50%;
				top: 50%;
				width: 4rem;
				transform: translate(-50%, -50%) rotate(45deg);
				height: .5rem;
			}

			&:before {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
	
	/**
	 * Icons
	 */
	&.g-icon-btn {
		max-width: $g-size-md;
		padding-left: 0;
		padding-right: 0;

		&.lg {
			max-width: $g-size-lg;			
		}
	}

	[g-icon] {
		max-height:3px;
		
		&:before {
			line-height:0;
			vertical-align: top;
		}

		// &:not(:only-child) {
		// 	&:first-child {
		// 		margin-right: 1rem;
		// 	}

		// 	&:last-child {
		// 		margin-left: 1rem;
		// 	}
		// }

		// &:only-child {
		// 	margin-left: -1.5rem;
		// 	margin-right: -1.5rem;
		// }
	}

	g-ink {
	
	}
}

g-btn-group, .g-btn-group {
	display: inline-block;
	white-space: nowrap;
	font-size: 0;
	vertical-align: middle;

	.g-btn:not(:first-child):not(:last-child), g-btn:not(:first-child):not(:last-child) {
		border-radius:0;
	}	

	// horizontal buttons
	&:not(.g-btn-group-vertical) {
		.g-btn:not(:first-child), g-btn:not(:first-child) {
			margin-left:-1px;
		}

		.g-btn:first-child, g-btn:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.g-btn:last-child, g-btn:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}


	// vertical buttons
	&.g-btn-group-vertical {

		.g-btn, g-btn {
			display:block;
		}

		.g-btn:not(:first-child), g-btn:not(:first-child) {
			margin-top:-1px;
		}

		.g-btn:first-child, g-btn:first-child {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.g-btn:last-child, g-btn:last-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}