.g-input {
	border: 1px solid $g-color-default-border;
	border-radius: $g-border-radius;
	outline: none;
	transition: .3s;
	vertical-align: middle;

	&:focus {
		//box-shadow: 0 0 3px $g-color-highlight;
		border-color: $g-color-highlight;
	}
}

.g-input-text, .g-input-textarea {
	text-indent: 1.5rem;
}
	
.g-input-text {
	height: $g-size-md;
	line-height: $g-size-md;
	text-indent: 1.5rem;
	width: 30rem;
}

.g-input-textarea {
	vertical-align: top;
	padding-top: ($g-size-md - 1.75rem) / 2;
	height: 10rem;
	width: 60rem;
}