/*********************************************************************************
 * Base Input Styles
 *********************************************************************************/
.g-input {
	border: 1px solid $g-color-default-border;
	border-radius: $g-border-radius;
	background-color: white;
	outline: none;
	transition: .3s;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	     -o-appearance: none;
	        appearance: none;

	&.alt {
		background-color: rgba(0,0,0,.02);
	}

	&.flat {
		background-color: transparent;
		border: 0;

		&:focus {
			background-color: rgba(0,0,0,.02);
		}
	}

	&:focus {
		//box-shadow: 0 0 3px $g-color-highlight;
		border-color: $g-color-highlight;
	}

	&.error {
		border-color: $g-color-danger-border;
	}
}

.g-input-text, .g-input-textarea, .g-input-select {
	padding-left: 2rem;
	padding-right: 2rem;
}
	
.g-input-text, .g-input-select {
	height: $g-size-md;
	line-height: $g-size-md;
	width: 60rem;

	&.lg {
		height: $g-size-lg;
		line-height: $g-size-lg;
		font-size: 4rem;
	}
}

// update a selects color based on its value. The value is set in gSelect.js
.g-input-select[value=""] {
	color: rgba(0,0,0,.5);
}

.g-input-textarea {
	vertical-align: top;
	padding-top: ($g-size-md - 3.75rem * 1.5) / 2;
	padding-bottom: ($g-size-md - 3.75rem * 1.5) / 2;
	line-height: 1.5;
	width: 60rem;
}

/*********************************************************************************
 * Placeholder text
 *********************************************************************************/
.g-input:not(input):not(textarea):not(select)[placeholder] {
	&:after {
		content: attr(placeholder);
		opacity: .5;
		display: inline-block;
	}
}

/*********************************************************************************
 * Appended text
 *********************************************************************************/
g-input-prefix, .g-input-prefix, g-input-suffix, .g-input-suffix {
	@include text-secondary;
	@include text-caption;

	height: $g-size-md;
	min-width: $g-size-md;
	flex: 0 0 auto;
	padding: 0 2rem;
	line-height: $g-size-md;
	border: 1px solid $g-color-default-border;
	border-radius: $g-border-radius;

	&.alt {
		background-color: rgba(0,0,0,.02);
	}

	&.flat {
		border: 0;
	}

	&.lg {
		height: $g-size-lg;
		line-height: $g-size-lg;
		min-width: $g-size-lg;
	}
}

g-input-suffix, .g-input-suffix {
	border-left: 0;
}

g-input-prefix, .g-input-prefix {
	border-right: 0;
}

/*********************************************************************************
 * Form label
 *********************************************************************************/
.g-form-label {
	@include text-label;
	margin-bottom: 2rem;
	display: block;
	padding-left: 2rem;
	whitespace: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*********************************************************************************
 * File Input
 *********************************************************************************/

// a file input that can live inside a clickable button or area
.g-input-masked-file {
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity:0;
	cursor: pointer;
}

/*********************************************************************************
 * Clearable Inputs
 *********************************************************************************/
.g-clearable-input-control {
	position: absolute;
	right: 0;

	&.#{$g-animate-classname} {
		&.ng-hide-add, &.ng-hide-remove {
			transition: 0s all;
		}

		&.ng-hide-add-active, &.ng-hide-remove-active {
			transition: .3s opacity;
		}

		&.ng-hide-remove, &.ng-hide-add.ng-hide-add-active { 
			opacity: 0; 
		}
		
		&.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active { 
			opacity: 1 ;
		}
	}
}

/*********************************************************************************
 * Input Groups
 *********************************************************************************/
g-input-group, .g-input-group {
	display: flex;
	position: relative;
	align-items: center;

	.g-input {
		flex: 1 1;
	}

	.g-form-label {
		margin-bottom: 0;
		margin-right: 2rem;
	}

	.g-input:focus {
		position: relative; //fixes an issues where the focused input needs to be above the other one
	}

	.g-input:not(:first-child):not(:last-child), g-input:not(:first-child):not(:last-child) {
		border-radius:0;
	}	

	.g-input:not(:first-child), g-input:not(:first-child) {
		margin-left:-1px;
	}

	.g-input, g-input-prefix, .g-input-prfiex, g-input-suffix, .g-input-suffix {
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.g-input, g-input-prefix, .g-input-prfiex, g-input-suffix, .g-input-suffix {
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

/*********************************************************************************
 * Checkboxes
 *********************************************************************************/
.g-checkbox {
	display: inline-block;
	cursor: pointer;
	padding: 1px 0;
	padding-left: $g-size-xs + 3rem;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column; 
    transform: translateZ(0);
	
	&:hover, &:focus {
		.checkbox {
			border-color: darken($g-color-default-border, 40%);
		}

		input:not(:checked) + .checkbox {
			background-color: rgba(0,0,0,.02);
		}
	}

	&.alt .checkbox {
		background-color: rgba(0,0,0,.02);
	}

	.checkbox {
		width: 1em;
		height: 1em;
		font-size: $g-size-xs;
		border: 1px solid darken($g-color-default-border, 20%);
		background-color: white;
		border-radius: $g-border-radius;
		position: absolute;
		left:0;
		top: 0px;
		transition: .3s;

		&:before {
			content:'';
			position: absolute;
			width: .25em;
			height: .5em;
			top: 50%;
			left: 50%;
			margin-top: -2px;
			border-bottom: 3px solid $g-color-success-text;
			border-right: 3px solid $g-color-success-text;
			transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(0);
			transition: .3s;
		}
	}


	input {
		width:0;
		height:0;
		position: absolute;
		opacity:0;
		top:0;
		left:0;
	}

	input:checked + .checkbox {
		background-color: $g-color-success-bg;
		border-color: $g-color-success-border;

		&:before {
			transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1);
		}
	}

	&.flat input:checked + .checkbox {
		background-color: transparent;
		border-color: transparent;

		&:before {
			border-color: $g-color-success-bg;
		}
	}
}



