.g-input {
	border: 1px solid $g-color-default-border;
	border-radius: $g-border-radius;
	background-color: white;
	outline: none;
	transition: .3s;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	     -o-appearance: none;
	        appearance: none;

	&.alt {
		background-color: rgba(0,0,0,.02);
	}

	&:focus {
		//box-shadow: 0 0 3px $g-color-highlight;
		border-color: $g-color-highlight;
	}

	&.error {
		border-color: $g-color-danger-border;
	}
}

.g-input-text, .g-input-textarea, .g-input-select {
	padding-left: 2rem;
	padding-right: 2rem;
}
	
.g-input-text, .g-input-select {
	height: $g-size-md;
	line-height: $g-size-md;
	width: 60rem;

	&.lg {
		height: $g-size-lg;
		line-height: $g-size-lg;
		font-size: 4rem;
	}
}

.g-input-textarea {
	vertical-align: top;
	padding-top: ($g-size-md - 3.75rem * 1.5) / 2;
	padding-bottom: ($g-size-md - 3.75rem * 1.5) / 2;
	line-height: 1.5;
	width: 60rem;
}

.g-form-label {
	@include text-label;
	margin-bottom: 2rem;
	display: block;
	padding-left: 2rem;
	whitespace: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}