@mixin g-notification-mixin($color, $background-color, $border-color, $title-color, $body-color) {
	color: $color;
	background-color: $background-color;
	border-color: $border-color;

	.g-notification-title {
		color: $title-color;
	}

	.g-notification-body {
		color: $body-color;
	}
}

g-notification {
	display:flex;
	background: white;
	border-radius: $g-border-radius;
	padding: $g-size-xs;
	align-items: center;
	position: relative;
	box-shadow: 0 0 1px rgba(0,0,0,.4);

	/***
	 * Animations
	 */
	&.#{$g-animate-classname} {
		&.ng-enter, &.ng-leave, &.ng-hide-add, &.ng-hide-remove {
			transition: .3s;
		}

		&.ng-enter, &.ng-leave.ng-leave-active, &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove { 
			opacity: 0;
		}
		
		&.ng-enter.ng-enter-active, &.ng-leave, &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active { 
			opacity: 1 ;
		}
	}

	&.danger {
		@include g-notification-mixin($g-color-danger-text, $g-color-danger-bg, $g-color-danger-border, $g-color-danger-text, rgba($g-color-danger-text, .75));
	}

	.g-notification-icon {
		flex: 0 1 18rem;
		height: 18rem;
		background: transparent none scroll no-repeat center center / cover;
		margin: (-$g-size-xs / 1.5) ($g-size-xs / 1.5) (-$g-size-xs / 1.5) (-$g-size-xs / 1.5)
	}

	.g-notification-title {
		line-height: 1;
		margin-bottom: 1rem;
	}

	g-btn-close {
		position: absolute;
		top: 0;
		right: 0;
	}
	
}

g-notification-list {
	position: fixed;
	left:0;
	bottom:0;
	width: 360px;
	box-sizing: content-box;
	padding: $g-gutter;

	g-notification {
		width: 100%;
		margin-top: 2rem;
		box-shadow: 0 0 3px rgba(0,0,0,.4);

		&.#{$g-animate-classname} {
			&.ng-enter, &.ng-leave.ng-leave-active { 
				transform: translate(0, 50%);
			}
			
			&.ng-enter.ng-enter-active, &.ng-leave { 
				transform: translate(0, 0);
			}
		}
	}
}